/* 个人中心 */
body {
    background-color: #f4f4f4;
}
.userCenter {
    margin-top: 1.6rem;
}
.userCenterWrap {
    display: flex;
    justify-content: space-between;
    min-height: 650px; /* 测试用*/
}
.userCenterNav {
    width: 20%;
    margin: 0.5rem 0;
    background-color: #fff;
    padding: 0.3rem;
}
.userCenterCon {
    width: 77%;
    margin: 0.5rem 0;
    background-color: #fff;
    padding: 0.3rem;
}
.userMainTitle {
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 0.1rem;
    font-size: 0.28rem;
    color: #000;
}
/* 以下是userInfo页面 独有*/
.userMainCon {

}
.photoImg {

}
.picBox {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ccc;
    background: url("/esps-web/assets/common/assets/images/personPhoto.png") no-repeat;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0.5rem auto 0.5rem auto;
}
.editPic {
    position: relative;
}
.editPicBtn {
    width: 2rem;
    padding: 0.15rem 0;
    margin: 0 auto;
    font-size: 0.28rem;
    background-color: #24a9b6;
    color: #fff;
    text-align: center;
    border-radius: 0.1rem;
    cursor: pointer;
    position: relative;
}
.editPic input {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 100%;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;  /*css属性——opcity不透明度，取值0-1*/
    filter: alpha(opacity=0);
}
.userInfoForm {
    padding: 0.5rem 0 0 0.8rem;
}
.userInfoItem {
    margin-top: 0.2rem;
    width: 80%;
}
.userInfoItem label {
    font-weight: normal;
    font-size: 0.28rem;
    color: #777;
    width: 10%;
    margin: 0;
    padding: 0.1rem;
}
.userInfoItem input {
    width: 70%;
    padding: 0.1rem 0.2rem;
}
.redStar {
    color: red;
}
.saveBtn {
    margin-top: 0.5rem;
    width: 2rem;
    padding: 0.15rem 0;
    font-size: 0.28rem;
    background-color: #24a9b6;
    color: #fff;
    text-align: center;
    border-radius: 0.1rem;
    cursor: pointer;
}
/*  /以下是userInfo页面 独有*/
/* ========== 以下是修改密码editPsw页面独有 ==========*/
.pswForm {
    padding: 0.5rem 0.8rem;
}
.pswItem {
   margin: 0.2rem 0;
}
.pswItem label {
    width: 10%;
    padding: 0.1rem;
    text-align: right;
    font-size: 0.28rem;
    font-weight: normal;
    color: #777;
}
.pswItem input {
    width: 70%;
    padding: 0.1rem;
}
.editPswBtn {
    margin: 0.5rem 0 0 0.4rem;
    width: 2rem;
    padding: 0.15rem 0;
    font-size: 0.28rem;
    background-color: #24a9b6;
    color: #fff;
    text-align: center;
    border-radius: 0.1rem;
    cursor: pointer;
}
/* ========== /以上是修改密码editPsw页面独有 ==========*/
/* =================== 以下是列表的样式========================*/
.listWrap {
    margin: 0.3rem 0;
}
/* =================== /以上是列表的样式========================*/

/* ======================= 手机端适配 ================== */
@media (max-width: 768px) {
    .userCenter {
        margin-top: 1rem;
    }
    .userCenterWrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 300px;  /* 测试 */
        padding: 0.3rem 0.2rem 0 0.2rem;
    }
    .userCenterNav {
        width: 100%;
        margin: 0;
    }
    .userCenterCon {
        width: 100%;
        margin-top: 0.3rem;
    }
    /*==== userInfo 独有 =======*/
    .pswForm {
        padding: 0.5rem 0.3rem;
    }
    .userInfoForm {
        padding: 0.3rem;
    }
    .userInfoItem {
        margin-top: 0.2rem;
        width: 100%;
    }
    .userInfoItem label {
        width: 20%;
    }
    .saveBtn {
        margin: 0.5rem auto 0 auto;
    }
    /*==== /userInfo 独有 =======*/
    /*==== 修改密码editPsw 独有 =======*/
    .pswItem label {
        width: 30%;
        padding: 0.1rem;
        text-align: right;
        font-size: 0.28rem;
        font-weight: normal;
        color: #777;
    }
    .pswItem input {
        width: 60%;
        padding: 0.1rem;
    }
    .editPswBtn {
        margin: 0.5rem auto 0 auto;
    }
    /*==== /修改密码editPsw 独有 =======*/
}
/* ======================= /手机端适配 ================== */