/*  expertVsCase */
/* 导航条改颜色 */
#expertVsCaseNav {
    color: #24a9b6;
}
/* banner */
.inBanner {
    margin-top: 1.6rem;
    background: url("../images/inBanner_s_2000x410.png") no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.inBannerWrap {
    height: 6.6rem;
    padding-top: 1.5rem;
}
.inBTitle {
    font-size: 0.7rem;
}
.inBSubTitle {
    padding-top: 0.5rem;
    font-size: 0.36rem;
    color: #ccc;
}
.inBanBtn a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem;
    width: 3rem;
    text-align: center;
    background-color: #24a9b6;
    font-size: 0.32rem;
    letter-spacing: 0.05rem;
    color: #fff;
}
.inBanBtn a:link,.inBanBtn a:visited,.inBanBtn a:hover.inBanBtn a:active {
    text-decoration: none;
}
/* tab栏 */
.tab {
    padding: 0.5rem 0;
    font-size: 0.3rem;
    color: #000;
}
.tabTitle {
    position: relative;
    padding: 0.15rem 0;
}
.tabTitle::after {
    /*display: table-cell;*/
    content: '';
    width: 0.8rem;
    height: 0.06rem;
    background-color: #24a9b6;
    position: absolute;
    top: 0.6rem;
    left: 1.5rem;
}
.tabTitle a,.tabTitle a:link,.tabTitle a:visited,.tabTitle a:hover,.tabTitle a:active {
    color: #000;
    text-decoration: none;
}
.inputWrap,.btnWrap {
    text-align: right;
}
.inputWrap input {
    border: 1px solid #e6e6e6;
    padding: 0.15rem;
    width: 100%;
}
.searchBtn {
    width: 100%;
    background-color: #24a9b6;
    text-align: center;
    color: #fff;
    padding: 0.15rem;
}
/* 案例列表 */
#caseLib table tr {
    width: 100%;
}
.caseListWrap {
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.caseListWrap .caseItemWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0;
    border-bottom: 1px solid #ccc;

}
.caseTitle {
    margin: 0.3rem 0;
}
.caseInfo {
    margin: 0.2rem 0;
}
.expertName {
    display: inline-block;
    margin-right: 0.5rem;
}
.detailBtnWrap {
    text-align: right;
}
.detailBtn {
    display: inline-block;
    width: 3rem;
    background-color: #24a9b6;
    color: #fff;
    text-decoration: none;
    padding: 0.2rem;
    text-align: center;
}
.detailBtn:link,.detailBtn:visited,.detailBtn:hover,.detailBtn:active {
    color: #fff;
    text-decoration: none;
}
.partPageWrap {
    text-align: center;
    margin-bottom: 0.3rem;
}
/* ======================= 响应式适配 =========================*/
/* 手机 */
@media (max-width: 768px) {
    /* 内页 banner*/
    .inBanner {
        margin-top: 1rem;
        background: url("../images/inBanner_s_640x340.png") no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        color: #fff;
    }
    .inBannerWrap {
        height: 3.5rem;
        padding-left: 0.3rem;
        padding-top: 0.8rem;
    }
    .inBTitle {
        font-size: 0.36rem;
    }
    .inBSubTitle {
        padding-top: 0.2rem;
        font-size: 0.28rem;
    }
    .inBanBtn a{
        margin-top: 0.3rem;
        font-size: 0.28rem;
        padding: 0.15rem;
    }
    /* tab栏 */
    .tab {
        margin: 0 0.3rem;
        padding: 0.3rem 0;
        font-size: 0.28rem;
    }
    /* 案例列表 */
   .caseListWrap {
       margin: 0 0.3rem 0.3rem;
       padding: 0.2rem;
   }
   .caseItemWrap {
       flex-direction: column;
       align-items: flex-start;
   }
   .caseTitle {
       font-size: 0.32rem;
   }
    .caseInfo {
        font-size: 0.26rem;
    }
   .detailBtnWrap {
       align-self: flex-end; /* 属性允许单个项目有与其他项目不一样的对齐方式，可覆盖align-items属性*/
   }
   .detailBtn {
       width: 1.8rem;
       padding: 0.1rem;
       font-size: 0.26rem;
   }

}
/* ======================= /响应式适配=========================*/