/*  expertVsCase */
/* 导航条改颜色 */
#expertVsCaseNav {
    color: #24a9b6;
}
/* banner */
.inBanner {
    margin-top: 1.6rem;
    background: url("../images/inBanner_s_2000x410.png") no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.inBannerWrap {
    height: 6.6rem;
    padding-top: 1.5rem;
}
.inBTitle {
    font-size: 0.7rem;
}
.inBSubTitle {
    padding-top: 0.5rem;
    font-size: 0.36rem;
    color: #ccc;
}
.inBanBtn a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem;
    width: 3rem;
    text-align: center;
    background-color: #24a9b6;
    font-size: 0.32rem;
    letter-spacing: 0.05rem;
    color: #fff;
}
.inBanBtn a:hover {
    text-decoration: none;
}
/* 案例详情内容 */
.contentWrap {
    border-bottom: 1px solid #c9c9c9;
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
}
.contentTitle {
    text-align: center;
}
.contentWrap .caseTitle {
    margin: 0.3rem 0;
}
.expertName {
    display: inline-block;
    margin-right: 0.5rem;
}
.contentText {
    margin: 0.5rem 0;
}
.contentLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.neighbor {
    flex-shrink: 0; /* 不允许缩小 */
    width: 70%;
}
.preWrap,.nextWrap {
    margin: 0.3rem 0;
    background-color: #f8f8f8;
    /*padding: 0.3rem 0;*/
    display: flex;
    cursor: pointer;
}
.preLogo,.nextLogo {
    width: 15%;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0.3rem 0;
}
.pre,.next {
    width: 85%;
    padding: 0.3rem 0.2rem;
}

.backBtn {
    display: inline-block;
    color: #aeaeae;
    text-decoration: none;
    padding: 0 1rem;
    position: relative;
}
.backBtn:link,.backBtn:visited,.backBtn:hover,.backBtn:active {
    color: #aeaeae;
    text-decoration: none;
}
.backBtn:before,.backBtn:after {
    content: '';
    width: 0.9rem;
    position: absolute;
    top: 0.225rem;
    height: 1px;
    background-color: #aeaeae;
}
.backBtn:before {
    right: 2.2rem;
}
.backBtn:after {
    right: 0;
}

/* ======================= 响应式适配 =========================*/
/* 手机 */
@media (max-width: 768px) {
    /* 内页 banner*/
    .inBanner {
        margin-top: 1rem;
        background: url("../images/inBanner_s_640x340.png") no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        color: #fff;
    }
    .inBannerWrap {
        height: 3.5rem;
        padding-left: 0.3rem;
        padding-top: 0.8rem;
    }
    .inBTitle {
        font-size: 0.36rem;
    }
    .inBSubTitle {
        padding-top: 0.2rem;
        font-size: 0.28rem;
    }
    .inBanBtn a{
        margin-top: 0.3rem;
        font-size: 0.28rem;
        padding: 0.15rem;
    }
    /* 案例详情内容 */
    .container {
        margin: 0 0.3rem;
    }
    .contentWrap {
        margin: 0;
        padding: 0.3rem 0;
    }
    .contentTitle h3 {
        font-size: 0.32rem;
    }
    .contentTitle p,.contentText {
        font-size: 0.28rem;
    }
    .contentLink {
        flex-direction: column;
        align-items: flex-start;
    }
    .neighbor {
        flex-shrink: 1; /* 不允许缩小 */
        width: 100%;
    }
    .preLogo,.nextLogo {
        padding: 0.1rem 0;
    }
    .pre,.next {
        padding: 0.1rem 0.2rem;
    }
    .backLink {
        margin-bottom: 0.5rem;
    }

}
/* ======================= /响应式适配=========================*/