/*  expertVsCase */
/* 导航条改颜色 */
#expertVsCaseNav {
    color: #24a9b6;
}
/* banner */
.inBanner {
    margin-top: 1.6rem;
    background: url("../images/inBanner_s_2000x410.png") no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
}
.inBannerWrap {
    height: 6.6rem;
    padding-top: 1.5rem;
}
.inBTitle {
    font-size: 0.7rem;
}
.inBSubTitle {
    padding-top: 0.5rem;
    font-size: 0.36rem;
    color: #ccc;
}
.inBanBtn a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.2rem 0.2rem;
    width: 3rem;
    text-align: center;
    background-color: #24a9b6;
    font-size: 0.32rem;
    letter-spacing: 0.05rem;
    color: #fff;
}
.inBanBtn a:hover {
    text-decoration: none;
}
/* tab栏 */
.tab {
    padding: 0.5rem 0;
    font-size: 0.3rem;
    color: #000;
}
.tabTitle {
    position: relative;
}
.tabTitle::after {
    /*display: table-cell;*/
    content: '';
    width: 1rem;
    height: 0.06rem;
    background-color: #24a9b6;
    position: absolute;
    top: 0.5rem;
    left: 0.1rem;
}
.tabTitle a,.tabTitle a:hover,.tabTitle a:active,.tabTitle a:link,.tabTitle a:visited {
    color: #000;
    text-decoration: none;
}
/* 专家团队列表*/
.expertList ul,.expertList ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.expertList {
    margin-bottom: 1rem;
}

.expertItem {
    position: relative;
    height: 250px;  /* 测试数据 */
    margin-bottom: 0.2rem;
}
.expertItem .infoWrap {
    position: absolute;
    top: 0;
    width: 92%;
    height: 100%;
    background-color: #eee;
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}
.expertItem .infoCont {
    width: 90%;
    padding: 0 1rem;
}
.infoCont p {
    text-align: justify;
    line-height: 1.8em;
}
.expertItem .photoWrap {
    position: absolute;
    /*top: 0.6rem;*/
    width: 16%;
    height: 100%;
    /*padding-top: 16%;  !* 让高度等于宽度 *!*/
    /*background-color: #fff;*/
    /*background: url(../images/photo.jpg) no-repeat;*/
    /*background-position: center center;*/
    display: flex;
    align-items: center;
}
.photoDiv {
    display: flex;
}
.photoWrap img {
    width:100%;
    height: 100%;

    /*height: 100%;*/
}
/* 专家项目 奇数*/
.oddItem .infoWrap {
    right: 0;
    justify-content: flex-end;
}
.oddItem h3,.oddItem h4 {
    text-align: right;
    margin: 0.3rem 0;
}
.oddItem .photoWrap {
    left: 0;
}
/* 专家项目 偶数*/
.evenItem .infoWrap {
    left: 0;
    background-color: #fff;
}
.evenItem h3,h4 {
    text-align: left;
    margin: 0.3rem 0;
}
.evenItem .photoWrap {
    right: 0;
}
/* ======================= 响应式适配 =========================*/
/* 手机 */
@media (max-width: 767px) {
    /* 内页 banner*/
    .inBanner {
        margin-top: 1rem;
        background: url("../images/inBanner_s_640x340.png") no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        background-size: cover;
        color: #fff;
    }
    .inBannerWrap {
        height: 3.5rem;
        padding-left: 0.3rem;
        padding-top: 0.8rem;
    }
    .inBTitle {
        font-size: 0.36rem;
    }
    .inBSubTitle {
        padding-top: 0.2rem;
        font-size: 0.28rem;
    }
    .inBanBtn a{
        margin-top: 0.3rem;
        font-size: 0.28rem;
        padding: 0.15rem;
    }
    /* tab栏 */
    .tab {
        margin: 0 0.3rem;
        padding: 0.3rem 0;
        font-size: 0.28rem;
    }
    /* 专家列表 */
    .expertList {
        padding: 0.2rem 0.3rem;
    }
    .expertItem {
        height: 6.5rem;
        /*height: 100%;*/
    }
    .expertItem .infoWrap {
        width: 100%;
        padding: 0.2rem;
    }
    .expertItem .infoCont {
        width: 100%;
        padding: 0;
    }
    .infoCont h3 {
        font-size: 0.32rem;
    }
    .infoCont h4 {
        font-size: 0.3rem;
    }
    .oddItem h3,.oddItem h4 {
        text-align: right;
    }
    .evenItem h3,.evenItem h4 {
        text-align: left;
    }
    .infoCont p {
        font-size: 0.28rem;
        line-height: 1.8em;
    }
    .oddItem .photoWrap {
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        width: 20%;
        padding-top: 20%;
        -webkit-background-size: 160% 160%;
        background-size: 160% 160%;
    }
    .evenItem .photoWrap {
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        width: 20%;
        padding-top: 20%;
        -webkit-background-size: 160% 160%;
        background-size: 160% 160%;
    }
}
/* pad */
@media screen and (min-width:768px) and (max-width:992px){
    .container {
        width: 720px;
    }
    .expertItem {
        height: 6rem;
        /*height: 100%;*/
    }
}
/* ======================= /响应式适配=========================*/