/* 全局样式 */
html {
    font-family: "Microsoft YaHei";
    font-weight: 500;
    font-size: 50px;
}
.container {
    padding: 0;
}
/* nav */
.navbar-esps {
    background-color: #03030D;
    margin-bottom: 0;
    width: 100%;
    top: 0;
    border: none;
}
.navbar-esps .navbar-nav > li {
    margin-left: 0.1rem;
}
.navbar-esps .navbar-nav > li > a {
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    color: #fff;
    padding: 0 0.3rem;
}
.navbar-esps .navbar-nav > li:hover > a {
    color: #24a9b6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #24a9b6;
    background-color: transparent;
}
.navbar-right {
    position: absolute;
    top: 0;
    right: 0.4rem;
}
/* 登录链接 */
.linkWrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 4rem;
    height: 1.6rem;
    /*background-color: #f00;*/
    color: #fff;
    z-index: 1111;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0.2rem;
}
.loginLink {
    width: 2rem;
    padding: 0.1rem;
    margin-right: 0.3rem;
    /*background-color: #000;*/
    color: #fff;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}
.loginLinkHide {
    display: none;
}
.personInfo {
    display: flex;
}
.personInfoHide {
    display: none;  /* 用于切换是显示登录前还是登录后*/
}
.personPhoto,.quit {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 0.3rem;
    text-align: center;
    color: #24a9b6;
    font-size: 0.24rem;
    cursor: pointer;
}
.personPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* 遮罩层 */
.shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.70);
    z-index: 9990;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    visibility: hidden;
}
.shadowShow {
    opacity:1;
    visibility:visible;
}
.shadowHide {
    visibility: hidden;
}
/* 侧边栏 */
.sidebar {
    position: fixed;
    width: 500px;
    height: 100%;
    max-width: 100%;
    z-index: 9999;
    background-color: #fff;
    top: 0;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    right: -500px;
}
.sidebarShow {
    right: 0;
}
.sidebarHide {
    right: -500px;
}
.closeWrap {
    text-align: right;
    color: #000;
}
.login,.register {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.loginHide {
    display: none;
}
.registerHide {
    display: none;
}
.sidebarTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.fs30 {
    font-size: 0.6rem;
    color: #333;
}
.orange {
    color: #f80;
    cursor: pointer;
}
.sidebarForm .formItem {
    margin-top: 0.5rem;
}
.sidebarForm .formItem input {
    width: 100%;
    padding: 0.2rem;
    border: 1px solid #b6b6b6;
    border-radius: 0.1rem;
}
.loginBtn {
    width: 50%;
    padding: 0.3rem;
    text-align: center;
    background-color: #24a9b6;
    color: #fff;
    font-size: 0.3rem;
    margin: 0 auto;
    border-radius: 0.1rem;
    cursor: pointer;
}
.sidebarFooter {
    margin-top: 6rem;
}
.contactWay {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0.3rem;
    font-size: 0.34rem;
    color: #333;
}
.companyName {
    font-size: 0.32rem;
    color: #333;
}
.companyAddress {
    font-size: 0.28rem;
    color: #5a5a5a;
}
/* 注册 */
.verification {
    display: flex;
    justify-content: space-between;
}
.inputWrap {
    width: 60%;
}
.vfWrap {
    width: 38%;
}
.vfBtn {
   width: 100%;
    padding: 0.2rem;
    border: 1px solid #b6b6b6;
    border-radius: 0.1rem;
    text-align: center;
    background-color: #24a9b6;
    color: #fff;
    box-sizing: border-box;
}
/*.vfBtn:link,.vfBtn:visited,.vfBtn:hover,.vfBtn:active {
    color: #fff;
    background-color: #449d44;
}*/
.register .sidebarFooter {
    margin-top: 3rem;
}

/* 手机登录模块*/
.unloginMode {

}
.unloginHide {
    display: none !important;
}
.loginMode {

}
.loginHide {
    display: none !important;
}
/* footer */
.comInfo {
    background-color: #1B1B1B;
    padding: 1.4rem 0 0.6rem;
}
.hotline {
    display: flex;
    align-items: center;
}
.hotImgWrap {

}
.hotline img {
    width: 100%;
}
.hotWrap {
    margin-left: 0.2rem;
}
.hotTitle {
    color: #777;
    font-size: 0.28rem;
}
.hotNum {
    color: #fff;
    font-size: 0.5rem;
}
.contactInfo {
    color: #fff;
    padding-left: 0.8rem;
    border-left: 1px solid #3c3c3c;
    line-height: 2em;
}
.qrcodeWrap {
    text-align: right;
    color: #fff;
}
.qrcodeItem {
    text-align: center;
    font-size: 0.24rem;
}
.qrcodeWrap img {
    width: 100%;
    margin-bottom: 0.1rem;
}
.copyRight {
    background-color: #000;
    padding: 0.5rem 0;
    color: #fff;
}
.copyWrapper {
    text-align: center;
}

/*====================  响应式适配 ===================*/

/* 手机端 */
.navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;;
}
.navbar-toggle {
    border-color: #ddd;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-esps .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 30px;
}

/* 响应式 导航  手机 */
@media (max-width: 768px) {
    .navbar-header {
        height: 1rem;
    }
    .navbar-brand {
        height: 1rem;
        padding: 0.15rem 0.3rem;
        font-size: 0.36rem;
        line-height: 0.4rem;
    }
    .navbar-brand img {
        height: 100%;
    }
    .navbar-esps .navbar-toggle {
        margin-top: 0.15rem;
        margin-bottom: 0rem;
    }
    .navbar-esps .navbar-nav > li > a {
        display: inline-block;
        height: 0.8rem;
        line-height: 0.8rem;
        color: #fff;
        padding: 0 0.3rem;
    }
    /* 底部footer */
    .comInfo {
        padding: 0.4rem 0;
    }
    .hotline {
        margin-bottom: 0.2rem;
    }
    .hotTitle {
        font-size: 0.28rem;
    }
    .hotNum {
        font-size: 0.32rem;
    }
    .qrcodeWrap img {
        width: 50%;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    .hotImgWrap {
        padding-left: 0.45rem;
    }
    .copyRight {
        padding: 0.3rem 0;
    }

}
/*====================  /响应式适配 ===================*/